 @charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

.table--container {
	width: 500px;
	border: 1px solid #D2D1D1;
	margin: 20px;
}
.first--tr {
	background-color: #F0EFEF;
	height: 30px;
	font-weight: bolder;
}
table tr, td {
	border: 1px solid #D2D1D1;
	padding: 5px 15px;
}
.button {
	border: 1px solid #031734;
	border-radius: 3px;
	background-color: #031734;
	color: #ccc;
	text-decoration: none;
	margin: 5px;
	padding: 3px;
}
.button:hover {
	color: #ccc;

}
.select--button {
	margin-left: 200px;
}
.input--box {
	border: 1px solid #D2D1D1;
	border-radius: 3px;
	height: 35px;
	margin-right: 20px;
}
.form--container {
	margin: 20px;
}
.insert {
	font-weight: bold;
}